@font-face {
  font-family: 'iconfont';  /* Project id 2620307 */
  src: url('//at.alicdn.com/t/font_2620307_bmmlf41zr2o.woff2?t=1627456922896') format('woff2'),
       url('//at.alicdn.com/t/font_2620307_bmmlf41zr2o.woff?t=1627456922896') format('woff'),
       url('//at.alicdn.com/t/font_2620307_bmmlf41zr2o.ttf?t=1627456922896') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }